
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&family=Roboto&display=swap');

:root {
    --bg-color: white;
    --h1-color: #0fbafe;
    --h2-color: #0fbafe;
    --h3-color: #black;
    --h4-color: black;
    --p-color: black;
    --span-color: #0fbafe;
    --hr-color: black;
}


body {
    margin: 0 20%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

h1 {
    color: var(--h1-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 30px 0;
}

h2 {
    color: var(--h2-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    margin: 40px 0;
}

h3 {
    color: var(--h3-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin: 40px 0;
}

h4 {
    color: var(--h4-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin: 40px 0;
}

p {
    color: var(--p-color);
    font-size: 30px;
    text-align: justify;
    margin: 20px 0;
}

li {
    font-size: 30px;
    text-align: justify;
    margin: 20px 0;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url(assets/list_icon.svg);
}

img {
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid var(--hr-color);
    margin: 40px 0;
}

span {
    color: var(--span-color);
}

a {
    text-decoration: none;
    color: var(--p-color);
    margin: 0;
    padding: 0;
    height: 0;
}

.legende {
    font-size: 15px;
    text-align: center;
    margin: 5px 0 15px 0;
    color: var(--p-color);
}

.legendee {
    margin-bottom: 5px;
}

.footer {
    font-size: 15px;
    text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {

    body {
        margin: 0 5%;
    }

    p {
        font-size: 20px;
        margin: 15px 0;
    }

    h1 {
        font-size: 70px;
        margin: 15px 0;
    }
    
    h2 {
        font-size: 40px;
        margin: 40px 0 15px 0;
    }
    
    h3 {
        font-size: 30px;
        margin: 30px 0 15px 0;
    }
    
    h4 {
        color: #3B4252;
        font-size: 20px;
        margin: 15px 0;
    }
    
    img {
        width: 100%;
        margin: 10px 0;
        border-radius: 10px;
    }

    li {
        font-size: 20px;
    }

    ul {   
        padding: 0;
        margin: var(--margin-mobile)
    }

    span {
        font-size: 20px;
    }

}